Flask==3.0.3
python-dotenv==1.0.1
beautifulsoup4==4.12.3
requests==2.32.3
tenacity==9.0.0
pandas==2.2.2
marshmallow==3.21.3
SQLAlchemy==2.0.36
Flask-SQLAlchemy==3.1.1
APScheduler==3.10.4
rapidfuzz==3.9.6
pytest==8.3.3
